
    .header {
        position: fixed;
        top: 0; /* Stick it to the top */
        max-height: 70px;
        width: 100vw;
      
        display: grid;
        grid-template-areas: "logo nav";
      
        /* Cosmetics */
        background-color: #282c34;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      }
      
      .logo {
        grid-area: logo;
        height: 70px;
      }
      
      .nav {
        display: grid;
        grid-area: nav;
        grid-template-columns: repeat(4, auto);
        align-items: center;
        justify-items: center;
      }
      .nav a {
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        transition: 0.5s;
        text-decoration: none;
        padding-left: 10px;
      }
      .nav a:hover {
        transform: scale(1.1);
      }
      .nav button {
        padding-left: 10px;
        outline: none;
        border: none;
        font-size: 20px;
        color: #fff;
        font-weight: 600;
        background-color: rgba(255, 0, 0, 0.5);
        border-radius: 10px;
        cursor: pointer;
        transition: 70ms;
      }
      
      .nav button:active {
        transform: translateY(3px);
        box-shadow: 0px 2px 0px 0px rgba(255, 0, 0, 0.25);
      }
      
      
